<blockquote>
  <p>Revolutionaising Global Trade and Transport by Decentralisation</p>
  <footer><a href="https://thecargocoin.com/" target="_blank">https://thecargocoin.com/</a></footer>
</blockquote>
